{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-6 m-3">
    <img class="pl-4 ml-4" src="{% static 'images/logo.jpeg' %}" alt="Kacchi" />
    <h1 class="pl-4">Kacchi Khai</h1>
    <p>
      Kacchi Khai is a fast food restaurant ensuring hygiene, quality and taste
      at the same time.
    </p>
    <p>
      <strong>Location : </strong> TawnHall More, Main Road , Maijdee Noakhali.
    </p>
    <ul>
      <li>Owner : Alamgir Hossain.</li>
      <li>Manager : Shamim Hossain.</li>
      <li>Contact : <strong>01868194925</strong></li>
      <li>kacchikhai@gmail.com</li>
    </ul>
  </div>
  <div class="col-5">
    <h1>Our Services :-</h1>
    <ul>
      <li>Fried Chicken</li>
      <li>French Fries</li>
      <li>Lemon Juice</li>
      <li>Chicken Chowmein</li>
      <li>Chicken Burger</li>
      <li>Phuchka</li>
      <li>Fried Rice Set Menu</li>
      <li>Special Tea</li>
      <li>Papaya Juice</li>
    </ul>

    <h2>Meet our famous Chef : </h2>
    <ul>
        <li>Ishtiaque Rohan ,BSc is Hospitality.</li>
        <li>Taskin , BSc in CSE.</li>
        <li>Meem , BSc in BBA. Sichuan University.</li>
    </ul>
  </div>
</div>

{% endblock content %}
